@import url("https://fonts.googleapis.com/css2?family=M+PLUS+2:wght@500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700:800&display=swap");

@font-face {
  font-family: "mplus";
  src: url("../../fonts/mplus-2c-medium.ttf") format("truetype"); /* Replace 'YourFontFileName' with the actual file name and extension */
  /* Add additional src lines for other font file formats if you downloaded multiple formats */
  font-weight: normal;
  font-style: normal;
}
.app__green {
  width: 360px;
  height: 800px;
  background-color: #fff;
  position: relative;
}

.green_header {
  padding: 16px 13px 11px 23px;
}

.green__top {
  padding-bottom: 25px;
}

.green__subheader {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.time__green {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  color: #000000;
}
.green__completed {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 600;
  font-size: 15.7px;
  line-height: 18px;
  color: #000000;
}

/* styling the circle and the design  */

.green__circle {
  width: 50px;
  height: 50px;
  background: #69a962;
  border-radius: 50%;
  display: grid;
  place-items: center;
}

.green__date {
  display: flex;
  align-items: center;
}

.date__text {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 15px;

  color: #929292;
}
.date__time {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 13.4px;
  line-height: 16px;
  /* identical to box height */

  color: #929292;
}

.green__design {
  padding-top: 30px;
  padding-left: 28px;
  display: flex;
  gap: 19px;
}
.design__circle {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  gap: 9px;
}

.green__completeds {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 600;
  font-size: 23px;
  line-height: 27px;
  /* identical to box height */
  color: #404040;
}

.auto {
  padding-top: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  left: 0;
  right: 0;
}

.green__icon {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 44px;
  padding-top: 8px;
}

.green__heart {
  display: flex;
  align-items: center;
  gap: 7px;
}

.common__payee {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 11px;
  line-height: 13px;
  /* identical to box height */
  color: #69a962;
}

.grenn__seperate {
  margin-top: 9px;
  width: 100%;
  height: 7px;
  background: #ededed;
}

.grenn__customername {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 14.3px;
  line-height: 17px;
  color: #303030;
}



.green__first {
  padding-top: 18px;
  padding-right: 12px;
  padding-left: 10px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.detaill__gleft {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 13.5px;
  line-height: 16px;
  /* identical to box height */

  color: #575757;
}

.detaill__gright {
  display: flex;
  flex-direction: column;
  gap: 3px;
  align-items: flex-end;
}

.grenn__customername {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 14.3px;
  line-height: 17px;
  color: #303030;
}
.grenn__number {
  font-family: "mplus";
  font-style: normal;
  font-weight: 500;
  font-size: 11px;
  line-height: 17px;
  color: #676767;
}
.bar__auto {
  display: flex;
  align-items: center;
  margin: auto;
  justify-content: center;
  padding-top: 15px;
}

.green__bank {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 18px;
  /* identical to box height */

  color: #333333;
}
.p__19 {
  padding-top: 19px !important;
}

.hongkong__dollar {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  /* identical to box height */
  color: #2f2f2f;
}

.hongkong__number {
  font-family: "mplus";
  font-style: normal;
  font-weight: 500;
  font-size: 11.63px;
  line-height: 17px;
  color: #676767;
}

.secondline__ {
  padding-top: 18px;
  padding-right: 12px;
  padding-left: 10px;

  display: flex;
  justify-content: space-between;
  padding-top: 17px;
}
.detaill__rightg {
  display: flex;
  align-items: flex-end;
  flex-direction: column;
}
.__pg17 {
  margin-top: 17px !important;
}

.third__line {
  display: flex;
  justify-content: space-between;
  padding-top: 16px;
  padding-left: 10px;
  padding-right: 11px;
}

.green__amount {
  display: flex;
  align-items: baseline;
  font-family: "mplus";
  font-style: normal;
  font-weight: 500;
  font-size: 13.5px;
  line-height: 20px;
  /* identical to box height */
  color: #4f4f4f;
}

.seperate__grey {
  margin-top: 19px;
  width: 100%;
  height: 26px;
  background: #f8f8f8;
}

.green__bottom {
  width: 100%;
  background: #ffffff;
  position: relative;
}

/* stlying the button  */

.button__green {
  width: 339px;
  height: 44px;
  background: #65a071;
  border-radius: 7px;
  display: grid;
  place-content: center;
  place-items: center;
  margin: auto;
}
.button__green > span {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 17.3px;
  line-height: 20px;
  color: #ffffff;
}

.green__grey {
  width: 339px;
  height: 44px;
  display: grid;
  place-content: center;
  place-items: center;
  margin: auto;
  border: 1px solid #b3b3b3;
  border-radius: 5px;
}
.green__grey > span {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  /* identical to box height */
  color: #6f6f6f;
}

.button__colletions {
  padding-top: 17px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding-bottom: 25px;
}

.green__border {
  width: 130px;
  height: 4px;

  background: #191919;
  border-radius: 3px;
  margin: auto;
  display: flex;
  align-content: center;
  align-items: center;
}

.logo__absoulte {
  position: absolute;
  bottom: 155px;
  right: 10px;
  z-index: 1;
}
.logo__green {
  opacity: 0.7;
}
.hidetext {
  padding-top: 17px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 13.2px;
  line-height: 15px;
  padding-left: 11px;
  color: #575757;
}
