@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap");
.app__hsbc {
  width: 449px;
  background-color: #fff;
  height: 800px;
  position: relative;
  overflow: hidden;
}

.hsbc__header {
  display: flex;
  align-items: baseline;
  padding: 4px 7px 0;
  justify-content: space-between;
}

.hsbc__subheader {
  display: flex;
  align-items: center;
  padding-left: 22.5px;
  padding-top: 20.5px;
}

.hsbc__closeicon {
  padding-right: 142.5px;
}

.hsbc__title {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 21px;
  line-height: 25px;
  color: #000000;
}

/* styling the detaill  */

.hsbc__cirlce {
  width: 57px;
  height: 58px;
  border-radius: 50%;
  background-color: #00847f;
  display: grid;
  place-items: center;
}

.hsbc__top {
  padding-top: 23px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 9px;
}

.hsbc__thank {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 33px;
  line-height: 40px;
  color: #000000;
}

.success__a {
  font-family: "Inter";
  font-style: normal;
  font-weight: 800;
  font-size: 7px;
  line-height: 8px;
  color: #000000;
}

.hsbc__success {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 7px;
}

.__success {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 19.5px;
  line-height: 24px;
  /* identical to box height */
  color: #303030;
}

.semibar {
  margin: auto;
  display: flex;
}

.hsb__specialdetail {
  padding: 40px 18px 0;
}

.specialdetail {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.__p16 {
  padding-bottom: 16px !important;
}
.__p65 {
  padding-top: 6px;
  padding-bottom: 6px;
}

.__p27 {
  padding: 25px 0;
}
.__p275 {
  padding: 25px 0;
}

.__p285 {
  padding-top: 24px;
  padding-bottom: 26px;
}

.__last {
  padding-top: 22px;
}

.hsbc__ {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.hsbc__left {
  display: flex;
  align-items: center;
}

.hsbc__left > span {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 21px;
  /* identical to box height */
  color: #303030;
}

.hsbc__ > span {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 16.7px;
  line-height: 20px;
  color: #2e2e2e;
}

/* styling the bottom  */

.hsb__bottom {
  position: absolute;
  bottom: 0;
  background-repeat: no-repeat;
  background-size: auto;
  background-position: top;
  background-image: url("/public/hsbc/background.png");
  padding: 23px 18px 31px;;;
}

.button__hsb {
    margin-top: 23px;
  display: grid;
  place-items: center;
  box-sizing: border-box;
  width: 412px;
  height: 52px;
  border: 1.3px solid #000000;
}

.button__hsb > span {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 19.6px;
  line-height: 24px;
  /* identical to box height */
  color: #2e2e2e;
}

/* styling the header and the data and the battery  */
/* 
styling the data */

.hsbc__data {
  display: flex;
  align-items: baseline;
  gap: 1.6px;
  padding-right: 6px;
}

.hsbc__data1 {
  width: 3px;
  height: 3px;
  background: #000000;
  border: 0.5px solid #000000;
}
.hsbc__data2 {
  width: 3px;
  height: 6px;
  background: #000000;
  border: 0.5px solid #000000;
}

.hsbc__data3 {
  width: 3px;
  height: 9px;
  background: #000000;
  border: 0.5px solid #000000;
}

.hsbc__data4 {
  width: 3px;
  height: 11px;
  background: #000000;
  border: 0.5px solid #000000;
}

.hsbc__name {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 13.6px;
  line-height: 16px;
  padding-right: 10px;
  color: #000000;
}

.hsbc__dataname {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;

  color: #000000;
}

.hsbc__time {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  /* identical to box height */

  color: #000000;
}

.number__percent {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 14.6px;
  line-height: 18px;
  /* identical to box height */

  color: #000000;
}

.battery__shbc {
  width: 26px;
  height: 13px;
  padding: 1px;
  border: 1px solid #000000;
  border-radius: 3px;
position: relative;
}

.shbc__level {
  width: 15px;
  height: 9px;
  background: #000000;
  border-radius: 1px;
  position: absolute;
}
.shbc__border {
  width: 1px;
  height: 3px;

  background: #707070;
}
.shbc__battery {
  display: flex;
  align-items: center;
  gap: 1px;
}

.hsbc__right {
  align-items: center;
  display: flex;
  gap: 4px;
}
